.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizental-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin: 10px;
}

.screen-header__cog_dot {
    color: tomato;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}
